.welcome ion-img {
  
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.welcome {
  vertical-align: middle;

  text-align: center;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}